<app-navbar></app-navbar>
<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>
<footer class="footer">
        <div class="container">
      
            <div style="font-size: 25px; text-align: center">
      
              <a href="https://www.facebook.com/Thoughtpathco"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              &nbsp;&nbsp;
              <a href="https://twitter.com/Thought_Path"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              &nbsp;&nbsp;
              <a href="https://www.linkedin.com/company/thought-path/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      
            </div>
      
        </div>
</footer>